
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}

.form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.p {
    text-align: center;
    font-size: larger;
}

.ul {
    list-style: none;
    padding: 0;
}

.ulli {
    margin-bottom: 10px;
    text-align: center;
    font-size: larger;
}

.ullia {
    text-decoration: none;
    color: #0066cc;
}

.ullia:hover {
    text-decoration: underline;
}